<section id="navigation">
  <div class="navigation-bar inline">
    <div class="app-logo">
      <h1>OurApp</h1>
    </div>
    <!-- <form action="" method="post"> -->
    <div class="username-search">
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Search..." name="nav-search" onkeyup="sendData(this)" />
      </div>
      <div class="search-result">

      </div>
    </div>

    <!-- </form> -->

    <div class="app-sections inline">
      <div class="section-box">
        <!-- home section  -->
        <a href="/">
          <i class="fa-solid fa-house fa-regular"></i>
        </a>
      </div>
      <div class="section-box">
        <!-- chat section  -->
        <a href="/messages">
          <i class="fa-solid fa-comment-dots"></i>
        </a>
      </div>
      <div class="section-box">
        <!-- post section  -->
        <a href="/post">
          <i class="fa-solid fa-square-plus"></i>
        </a>
      </div>
      <div class="section-box">
        <!-- profile section  -->
        <a href="/profile">
          <i class="fa-solid fa-circle"></i>
        </a>
      </div>
    </div>
  </div>
</section>
