<%- include('./partials/header'); -%>
<section id="wrong-route">
  <div class="wrong-route-container">
    <div class="inline wrong-route-req-code">
      <span>4</span>
      <span class="zero-num">0</span>
      <span>4</span>
    </div>
    <h2>Oops! Page Not Found</h2>
  </div>
</section>
<%- include('./partials/footer'); -%>
