body{
    padding: 0;
    margin: 0;
    font-family: 'Halant', serif;
}

:root{
    --PURPLE: #6C63FF;
    --BLACK :#14171A;
    --GRAY : #657786;
    --LIGHT-GRAY: #ADADAD;
    --WHITE : #FFFF;
    --INPUT-BOX-BACKGROUND: #edf7fdd9;
    --HORIZONTAL-LINE: #b5b5b5;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.inline{
    display: flex;
}

/* ---------------------------- */
       /* Sign Up page  */
/* ---------------------------- */

.signIn-signUp-page{
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 0 2em;
}

.signIn-signUp-container{
    background-color: var(--WHITE);
    box-shadow: 2px 4px 8px #ccc;
    border-radius: 30px;
    width: 415px;
    height: 500px;
    padding: 2em;
    justify-content: space-between;
}

.sign-heading-text h1,.sign-heading-text p{
    margin: 0;
}

.sign-heading-text h1{
    font-size: 3rem;
    margin-bottom: -10px;
}

.sign-heading-text p{
    font-size: 0.875rem;
    opacity: .785;
    margin-left: .5em;
}

.google-facebook-box{
    margin-top: 2.5em;
    gap: 1.1em;
    width: inherit;
}

.oAuth-btn{
    padding: .4em .5em;
    border: 2px solid var(--LIGHT-GRAY);
    border-radius: 12px;
    font-weight: 600;
    transition: background 200ms ease-in,
                color 200ms ease-in;
}

.oAuth-btn:hover{
    color: var(--WHITE);
    background-color: var(--PURPLE);
    border-color: var(--PURPLE);
}

.oAuth-btn:hover i{
    color: var(--WHITE);
}
.oAuth-btn i{
    margin-right: .2em;
    color: var(--PURPLE);
    font-size: 1.2rem;
    transition: color 200ms ease-in;
}

hr.sign-line{
    border: none;
    border-top: 1px solid var(--HORIZONTAL-LINE);
    width: 100px;
    margin: 2em auto;
}


.label-input label{
    font-weight: 600;
}
.label-input input{
    border: 2px solid #ADADAD;
    border-radius: 8px;
    padding: .6em .8em;
    width: 100%;
    background-color: var(--INPUT-BOX-BACKGROUND);
    box-sizing: border-box;
}

.label-input input:focus-visible{
    outline: none;
    background-color: #f0f0f0;
}

.label-input{
    width: 100%;
    
}


.label-input .error{
    padding: 0 .5em;
    margin-top: .2em;
    width: 400px;
    box-sizing: border-box;
}

.error > span{
    font-weight: 600;
    letter-spacing: 0px;
    color: red;
    font-size: 13px;
}

.error svg{
    width: 12px;
}

.disappear{
    display: none;
}

.appear{
    display: block;
}

.inline > .label-input{
    margin-bottom: 1em;
    margin-right: 1.5em;
    width: 185px;
} 

.form > .label-input{
    width: 94%;
    margin-bottom: 2em;
}

.label-input label{
    display: block;
}

.create-logUp-logIn-btn{
    padding: 1em 1.4em;
    background-color: var(--PURPLE);
    color: var(--WHITE);
    border-radius: 12px;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: .7em;
    transition: background 200ms ease-in;
}

.create-logUp-logIn-btn:hover{
    background-color: hsl(243, 100%, 66%);
}

.form .accq{
    font-size: .875rem;
    font-weight: 700;
    margin-left: .5em;
    letter-spacing: .8px;
}

.form .accq a{
    color: var(--PURPLE);
}
.form .accq a:hover{
    color: #657786;
}

.server-error-message{
    background-color: hsl(0, 100%, 94%);
    text-align: center;
    padding: .6em 1.5em;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid hsl(0, 100%, 60%);
    color: hsl(0, 100%, 50%);
    border-radius: 8px;
    font-weight: 600;
    animation:error-box 250ms ease-in-out;
}

@keyframes error-box{
    0%{
        top: 0;
    }
    100%{
        top: 3%;
    }
}

.sign-page-img{
    width: 55vw;
    margin-left: 5em;
}

/* ---------------------------- */
        /* Navigation bar  */
/* --------------------------------- */

.navigation-bar{
    justify-content: space-around;
    align-items: center;
    background-color: var(--PURPLE);
    color: var(--WHITE);
    padding: .8em 0;
}

.app-logo h1{
    font-size: 1.8rem;
}

.username-search{
    position: relative;
}

.search-bar{
    background-color: var(--WHITE);
    color: #9C9C9C;
    padding: .3em .7em;
    border-radius: 12px;
}


.search-bar input{
    border: none;
    color: #9C9C9C;
    width: 200px;
    margin-left: .8em;
    font-size: .9rem;
}

.search-bar input:focus-visible{
    outline: none;
}

.search-result,.inbox-search-result{
    width: 250px;
    overflow-y: auto;
    position: absolute;
    left: 0;
    margin-top: 1.3em;
    color: #14171A;
    z-index: 3;
    text-align: center;
}

.search-result p,.inbox-search-result p{
    box-shadow: 2px 2px 10px #ccc;
    background-color:var(--WHITE);
    border-radius: 8px;
    font-weight: 600;
    margin: .2em .3em;
}

.app-sections{
    justify-content: space-around;
    align-items: center;
}

.section-box{
    margin: 0 1em;
}

.section-box a{
    font-size: 1.8rem;
}

.section-box a i{
    color: var(--WHITE);
}

.section-box a i:hover{
    color: #edebeb;
}



/* ------------------------------- */
        /* home section  */
/* ------------------------------- */

.post-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5em 0;
}

.username-profile{
    align-items: center;
    margin-bottom: .5em;
    border-bottom: 1.4px solid #dad9d9;
}


.username-profile .other-user-name h3{
    font-weight: 400;
    font-size: 1rem;
}



/* ------------------------------- */
        /* chat section  */
/* ------------------------------- */

.container{
    max-width: 955px;
    margin: 2em auto 0;
    height: 72vh;
}

.searchUser{
    flex:.36;
    border: 1px solid #dad9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .5em;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: relative;
}

.searchUser .user-search{
    margin-top: .6em;
}


.user-brief{
    cursor: pointer;
    padding: .2em 1.4em;
    margin-top: .5em;
    position: relative;
}

.user-brief::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dad9d9;
    height: 1px;
}

.your-user-name{
    width: 100%;
    text-align: center;
    border-bottom:1px solid  #dad9d9;
    margin-bottom: .3em;
    padding-block: .5em;
}

.your-user-name h2{
    font-size: 1.3rem;
    font-weight: 700;
    opacity: .9;
}

.user-search{
    width: 100%;
    padding-bottom: 1em;
    border-bottom:1px solid  #dad9d9;
    text-align: center;
}

.inbox-search-result{
    width: 170px;
    left: 48%;
    transform: translateX(-50%);
}



.send-message-design{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inbox-img{
    width: 350px;
}
.send-message-design h2{
    font-weight: 600;
}

.o-user-profile img{
    width: 36px;
    margin-right: .4em;
}

.o-user-name span{
    font-size: 1.15rem;
}
.chat-search-bar{
    color: #797979;
    position: relative;
}

.chat-search-bar input{
    color: #797979;
    border: none;
    background-color: inherit;
    margin-left: .2em;
    width: 45%;
}

.chat-search-bar input:focus-visible,.message-bar input:focus-visible{
    outline: none;
}

.chat-search-bar::before{
    content: '';
    position: absolute;
    top: 28px;
    left: 40%;
    transform:translateX(-40%);
    border-bottom: 1px solid #797979;
    width: 55%;
}

.previous-talked-users{
    overflow-y: auto;
    width: 100%;
    padding: .5em .4em;
}

/* ----------------------------------------- */
.chat-section{
    border: 1px solid #dad9d9;
    flex: 1;
    position: relative;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.profile img{
    border-radius: 50%;
    width: 28px;
    margin-right: .5em;
}

.other-users-brief-details{
    border-bottom:1px solid  #dad9d9;
    align-items: center;
    justify-content: center;
    padding: .5em 3em;
}

.chat-view{
    height: 51.3vh;
    padding: .8em 1em;
    overflow-y: auto;
}

.user-messages,.my-messages{
    display: inline;
    clear: both;
    padding: .2em .6em;
    font-size: .9rem;
    border-radius: 14px;
    border: 1px solid #DDDDDD;
    margin-bottom: .5em;
}

.user-messages span,.my-messages span{
    color: #282629;
}
.user-messages{
    float: left;   
}

.my-messages{
    float:right;
    background-color: #DDDDDD;
}
.send-message{
    width: 100%;
    padding: 0 .4em;
    position: absolute;
    bottom: 6px;
    left: 0;
}


.message-bar{
    width: 80%;
    border: 2px solid #797979;
    border-radius: 12px;
    padding: 0 1em;
}

.message-bar input{
    width: 100%;
    padding: .7em 0;
    border: none;
    border-radius: 12px;
}

.send-btn{
    margin-left: .5em;
}

.send-btn input{
    color: var(--PURPLE);
    background-color: transparent;
    border-radius: 12px;
}

.send-btn input,.post-btn input{
    padding: .7em 1.5em;
    border: 2px solid var(--PURPLE);
    font-weight: 600;
    cursor: pointer;
    transition: background 250ms ease-in;
}

.send-btn input:hover{
    color: var(--WHITE);
    background-color: var(--PURPLE);
}

/* -------------------------------- */
    /* create post section  */
/* -------------------------------- */

.create-post-box{
    height: 72vh;
    justify-content: center;
    align-items: center;
}

.create-post-title{
    text-align: center;
    margin-top: 2em;
}

.create-post-title h1{
    color: hsl(2, 0%,25%);
    font-size: 2.5rem;
}

.post label{
    display: block;
    margin-left: .6em;
    font-size: 1.1rem;
    font-weight: 600;
}


.title,.body-content{
    width: 600px;
    margin:  2em 0;
}

.title input,.body-content textarea{
    width: 100%;
    padding: .8em 1.4em;
    border-radius: 12px;
    border: none;
    outline: 1px solid #14171A;
    background-color: hsl(0, 0%, 96%);
    transition: background 200ms ease-in;
}



.title input:focus-visible,.body-content textarea:focus-visible{
    outline: 2px solid #14171A;
    background-color: var(--WHITE);
}

.post-btn input{
    border-radius: 10px;
    color: var(--WHITE);
    background-color: var(--PURPLE);
}

.post-btn input:hover{
    color: var(--PURPLE);
    background-color: transparent;
}


/* -------------------------------- */
    /* profile section  */
/* -------------------------------- */

.profile-brief-detail{
    align-items: center;
    padding: 2em 0 1em;
    justify-content: center;
}

.profile-pic{
    margin-right: 2em;
}

.profile-pic img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.user-text-details{
    margin-bottom: 4.3em;
}

.username h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.following-post-follower-count{
    color: #282629;
    font-weight: 600;
    margin-top: .6em;
}

.following-post-follower-count span ,.following-post-follower-count a{
    margin-left: .2em;
    margin-right: 2em;
}


hr.profile-line{
    border: none;
    border-top: 1px solid #97aaba;
    width: 80%;
}


.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-box{
    width: 400px;
    text-align: center;
    border: 1.3px solid #dad9d9;
    padding: 0 1.2em 1em;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 2px 15px #ccc;
    position: relative;
}

.like-btn{
    font-size: 1.4rem;
    cursor: pointer;
    color: hsl(0, 100%, 60%);
}
.post-likes span{
    font-size: 1.2rem;
    margin-left: .3em;
}


.post-box.other-user-post-box{
    padding: 1em 1.2em;
}

.post-title,.post-body-content{
    /* background-color: var(--WHITE); */
    border-radius: 12px;
}

.post-title{
    margin-bottom: .6em;
    padding: .2em 0;
}

.post-body-content{
    padding: .5em .6em;
}

.post-heading{
    margin-bottom: 2em;
    position: relative;
}

.post-heading::before{
    content: '';
    position: absolute;
    top:-9.8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #808080;
    width:90px;
    height: 1.5px;   
}

.post-heading h3 {
    color: #4e4e4e;
    font-size: 1.5rem;
    font-weight: 600;
}

.post-setting{
    align-self: end;
    position: relative;
}

.post-setting span{
    font-weight: 600;
    cursor: pointer;
}

.setting-option{
    position: absolute;
    margin: 0 1.5em;
    width: 100px;
    background-color: hsl(0, 100%, 96%);
    border-radius: 8px;
    border: 2px solid hsl(0, 100%, 60%);
    font-weight: 600;
}

.setting-option a{
    color: hsl(0, 100%, 50%);
}

/* ---------------------------------- */
 /* follower and following section  */
/* ---------------------------------- */

.f-profile-pic{
    text-align: center;
    padding: 2em 0 1em;
}

.f-profile-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.show-following-followers{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.followings-title,.followers-title{
    border: 2px solid #cbd6df;
}

.followers-title{
    border-top-left-radius: 12px ;
    border-bottom-left-radius: 12px;
    border-right: none;
}

.followings-title{
   
    border-top-right-radius: 12px ;
    border-bottom-right-radius: 12px;
}

.followers-title h4,.followings-title h4{
    padding: .5em 6em;
}

.followers-following-content{
    border: 2px solid #cbd6df;
    margin-top: 1em;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 500px;
    padding: 0em 1.1em;
    min-height: 41vh;
    overflow-y: auto;
}

.user-brief-detail{
    justify-content: space-between;
    border-bottom: 1px solid #cbd6df;
    margin-top: 1em;
}

.user-profile-and-name .user-name{
    margin-left: 1em;
}

.follow-unfollow-btn,.message-btn{
    align-self: center;
}

.follow-unfollow-btn input,.message-btn a{
    cursor: pointer;
    padding: .6em 1.2em;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    transition: background 200ms ease-in;
}

.follow-btn-hover,.follow-btn,.following-btn{
    outline: 2px solid var(--PURPLE);
}
.follow-btn-hover{
    color: var(--WHITE);
    background-color: hsl(243, 100%, 64%); 
    outline-color: hsl(243, 100%, 64%);
}

.follow-btn{
    color: var(--WHITE);
    background-color: var(--PURPLE);
}

.following-btn{
    color: var(--PURPLE);
    background-color: transparent;  
}

.unfollow-btn{
    color: red;
    background-color: transparent;
    outline: 2px solid red;
}


/* User-profile Section  */

.username-message-followBtn{
    gap: 1.4em;
}

.message-btn a{
    background-color: transparent;
    outline: 2px solid var(--HORIZONTAL-LINE);
    padding: .3em 1.2em;
}